.boards_container {
  display: flex;
  overflow-y: scroll;
  /* scroll-snap-type: x mandatory; */
  margin-left: 20px;
}

.boards_card {
  /* scroll-snap-align: center; */
}


/*  */


.boards_container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}


.boards_container::-webkit-scrollbar-track {
  background: #000000;

}


.boards_container::-webkit-scrollbar-thumb {
  background-color: #7f7f7f5b;
  border-radius: 4px;
  width: 12px;
}