.mybtn {
  width: 150px;
  height: 40px;
  outline: none;
  color: white;
  border: none;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #00B0E1;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}