
.board_container {
  width: 350px;
}



.board_title {
  height: 35px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}


.board_content {
  width: 350px;
  height: 730px;
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;



}


.board_content::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}


.board_content::-webkit-scrollbar-track {
  background: #525252;
  border-bottom-right-radius: 5px;
}


.board_content::-webkit-scrollbar-thumb {
  background-color: #0000005b;
  border-radius: 4px;
}